.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.field {
  margin-right: 30px;
}

.value {
  display: flex;
  justify-content: baseline;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.timer {
  font-size: xx-large;
}
